.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.statusMessage {
  font-size: 0.8em;
}

.player {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}